.addUser{
    &__container{
        width: 1200px;
        margin: 0 auto;
    }
    &__div{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__box{
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    &__title__h2{
        font-size: 30px;
        margin-bottom: 20px;
        color: #0C21C1;
    }
    &__title__inputs{
        display: flex;
        gap: 15px;
        padding-bottom: 30px;
    }
    &__input{
        width: 300px;
        border: none;
        border-bottom: 1px solid  #000842;
        outline: none;
        padding-bottom: 5px;
    }
    &__btns{
        display: flex;
        flex-direction: column;
    
    }
    &__btn{
        width: 400px;
        height: 53px;
        border-radius: 32px;
        background: #0C21C1;
        box-shadow: 0px 4px 26px 0px rgba(0, 0, 0, 0.25);
        border: none;
        color: white;
        margin-top: 30px;
        cursor: pointer;
    }
    &__btn2{
        width: 90px;
        height: 30px;
        background: transparent;
        border: none;
        cursor: pointer;
    }
    &__btn2:hover{
        transform: scale(1.05);
        color: #3657CB;
    }
}