.cards{
    background: #06030F;
    &__container{
        max-width: 1200px;
        margin: 0 auto;
        padding-top: 80px;
    }
    &__ul{
        display: flex;
        align-items: center;
        gap: 30px;
        cursor: pointer;
    }
    &__ul__li{
        font: 500 20px/120% 'Manrope';
        color: #868686;
    }
    &__ul__li:nth-child(1){
        color: white;
    }
    &__box{
        max-width: 1200px;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 25px;
        padding-top: 60px;
        padding-bottom: 40px;
    }
    &__box__card{
        width: 300px;
        padding-bottom: 20px;
        position: relative;
    }
    &__box__card:hover>.cards__box__card__btn{
        display: block;
    }
    &__box__card:hover>.cards__box__card__btn__del{
        display: block;
    }
    &__box__card__img{
        width: 300px;
    }
    &__box__card__h4{
        font: 500 24px/130% 'Manrope';
        margin-top: 20px; 
        color: white;
        
    .span1{
        color: #77BE1D;
        font: 500 18px/130% 'Manrope';
        margin-left: 15px;
        margin-right: 15px;
    }
    .span2{
        color: rgba(255, 255, 255, 0.20);
        font: 400 18px/130% 'Manrope';
    }
    }
    &__box__card__h3{
        font: 400 18px/130% 'Manrope';
        margin-bottom: 11px;
        color: white;
    }
    &__box__card__checkbox{
        display: flex;
        align-items: center;
        gap: 15px;
        color: #747474;
    }
    &__box__card__btn{
        width: 260px;
        height: 63px;
        border-radius: 12px;
        background: #77BE1D;
        backdrop-filter: blur(10px);
        color: white;
        border: none;
        position: absolute;
        top: 60%;
        left: 5%;
        cursor: pointer;
        display: none;
    }
    &__box__card__btn__del{
        width: 260px;
        height: 63px;
        border-radius: 12px;
        background: #be1d1d;
        backdrop-filter: blur(10px);
        color: white;
        border: none;
        position: absolute;
        top: 60%;
        left: 5%;
        cursor: pointer;
        display: none;
    }
    &__katolog{
        width: 1200px;
        height: 76px;
        border-radius: 15px;
        background: #06030F;
        border: 2px solid rgba(255, 255, 255, 0.10);
        display: flex;
        align-items: center;
        justify-content: center;
    }
    &__katolog__p{
        color: #366EDC;
        font: 600 18px/130% 'Manrope';
        cursor: pointer;
    }
   
}
@media(max-width:1184px){
    .cards{
        &__box{
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            margin-left: 50px;
           }
           &__katolog{
            max-width: 800px;
           }
    }
}
@media (max-width: 1117px) {
    .cards{
        &__container{
        max-width: 1050px;
        margin-left: 40px;
        }
      
       &__katolog{
        max-width: 500px;
       }
        
    }
}
@media (max-width: 991.98px) {

 }
@media (max-width: 767.98px) {  }
@media (max-width: 575.98px) {  }