.game{
    background: #06030F;
    &__container{
        max-width: 1200px;
        margin: 0 auto;
        padding: 110px;
    }
    &__top__logo{
        display: flex;
        gap: 15px;
    }
    &__top__p{
        color: white;
        font: 600 32px/130% 'Manrope';
    }
   &__cards{
   display: flex;
   align-items: center;
   gap: 30px;
   }
   &__card{
    display: flex;
    flex-direction: column;
    color: white;
    position: relative;
    .card__top4{
        width: 85px;
        height: 38px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 4px;
        background: black;
        border-radius: 8px;
        position: absolute;
        top: 5%;
        left: 3%;
    }
   }
   &__card:hover>.game__card__btn{
    display: block;
   }
   &__card__img{
    width: 300px;
    height: 400px;
   }
   &__card__title{
    margin-left: 20px;
   }
   &__card__h4{
    font: 500 24px/130% 'Manrope';
    margin-top: 20px;
    
    .span1{
        color: #77BE1D;
        font: 500 18px/130% 'Manrope';
        margin-left: 15px;
        margin-right: 15px;
    }
    .span2{
        color: rgba(255, 255, 255, 0.20);
        font: 400 18px/130% 'Manrope';
    }
   }
   &__card__h3{
    font: 400 18px/130% 'Manrope';
    margin-bottom: 11px;
   }
   &__card__checkbox{
    display: flex;
    align-items: center;
    gap: 15px;
    color: #747474;
   }
   &__card__btn{
    width: 260px;
    height: 63px;
    border-radius: 12px;
    background: #77BE1D;
    backdrop-filter: blur(10px);
    color: white;
    border: none;
    position: absolute;
    top: 65%;
    left: 5%;
    cursor: pointer;
    display: none;
   }
   .totop{
    position: fixed;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    width: 50px;
    height: 50px;
  }
}
@media(max-width:1184px){
    .game{
        &__cards{
            display: flex;
            flex-wrap: wrap;
           }
        }

}


@media (max-width: 1106px) {
    .game{
        &__container{
        max-width: 1050px;
        }
       
        
    }
}
@media (max-width: 991.98px) {

 }
@media (max-width: 767.98px) {  }
@media (max-width: 575.98px) {  }